{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Detalle de los Clientes</title>
    </head>

    <body>

        {% block contenido %}
        <div id="contenidoCliente">
            <div id="clienteInfo">
                <img src=" {{cliente.imagenCliente}}" alt="Foto del cliente" >
                <h1>{{ cliente.nombre }} {{ cliente.apellido }}</h1>
                <h3><span class="resalte">Edad:</span> {{ cliente.edad }}</h3>
            </div>
            <div id="estancoInfo">
                {% if cliente.estanco %}
                    <h2><span class="resalte">INFORMACION DEL ESTANCO</span></h2>
                    <br>
                    <p><span class="resalte"> - Nombre del estanco: </span> {{ cliente.estanco.nombre }}</p>
                    <p><span class="resalte"> - Ubicacion del estanco: </span>{{ cliente.estanco.localizacion }}</p>
                    <a href="{% url 'detalleEstancos' cliente.estanco.id %}">
                        Mas informacion sobre el estanco
                    </a>
                {% else %}
                    <p>Este cliente no compra en ningun estanco.</p>
                {% endif %}
            </div>
        </div>
        
        {% endblock %}
    </body>
</html>
