{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Detalle de los Clientes</title>
        <link rel="stylesheet" href="{% static 'style/CSS/clientes.css' %}">
    </head>

    <body>

        {% block contenido %}
        <div id="clienteInfo">
            <img src=" {{cliente.imagenCliente}}" alt="Foto del cliente">
            <h1>{{ cliente.nombre }} {{ cliente.apellido }}</h1>
            <p>Edad: {{ cliente.edad }}</p>
        </div>
        <div id="estancoInfo">
            {% if cliente.estanco %}
                <ul>
                    <li>Estanco donde compra: {{ cliente.estanco.nombre }}</li>
                    <li>Ubicacion del estanco: {{ cliente.estanco.localizacion }}</li>
                    <li><a href="{% url 'detalleEstancos' cliente.estanco.id %}">
                        Informacion sobre el estanco
                    </a></li>
                </ul>
            {% else %}
                <p>Este cliente no compra en ningun estanco.</p>
            {% endif %}
        </div>
        {% endblock %}
    </body>
</html>
