<html>
    <head>
        <title>Detalle del Paquete</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block contenido%}

        <div class="contenedorInfoPack">

            <h1>{{cigar.nombre}}</h1>
            
            <div id="imagen">
                <img src=" {{cigar.imagenCig}}" alt="Imagen del paquete">
            </div>
    
            <div class="infoPack">
                <p><span class="resalte">Tipo de Tabaco: </span>{{ cigar.tipo }}</p>
                <p><span class="resalte">Precio: </span>{{ cigar.precio }}€</p>
            </div>
        </div>


        {% endblock %}
    
    </body>
</html> 