<html>
    <head>
        <title>Detalle de los Estancos</title>
    </head>
    <body>
        <div class = "box">
        {% extends 'base.html' %}
        {% block contenido%}
        <h1>{{ estanco.nombre }}</h1>
        <div id="infoEstanco">

            <p><span class = "resalte">Localizacion:</span> {{ estanco.localizacion }}</p>
        {% if estanco.distribuidor %}  
        <p><span class = "resalte">Nombre del Distribuidor:</span> <a href="{% url 'detalleDistribuidores' estanco.distribuidor.id %}">{{ estanco.distribuidor.nombre }}</p>
        </a>
        <p><span class = "resalte">País:</span> {{ estanco.distribuidor.pais }}</p>

        {% else %}
            <p>Este estanco no tiene un distribuidor asociado.</p>
        {% endif %}

        </div>
        {% endblock %}
    </div>
    </body>
</html> 