<html></html>
    <head>
        <title>Detalle de los Distribuidores</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block contenido%}

        <div id="contenedorInfo">
            <h1>{{distribuidor.nombre}}</h1>
            <div id="imagen">
                <img src="{{distribuidor.imagenDistr}}" alt="Imagen logo {{distribuidor.nombre}}">
            </div>

            <div id="info">
                {% if distribuidor %}
                    <p><span class="resalte">País: </span>{{ distribuidor.pais }}</p>
                    <p><span class="resalte">Exportación: </span>{{ distribuidor.exportacion }}</p>
                {% else %}
                    <p>no existe este distribuidor.</p>
                {% endif %}
            </div>
        </div>
        
        {% endblock %}
    </body>
</html>