<html>
    <head>
        <title>Detalle de los Clientes</title>
    </head>

    <body>
        {% extends 'base.html' %}
        {% block contenido%}
        <h1>{{ cliente.nombre }} {{ cliente.apellido }}</h1>
        <p>ID: {{ cliente.id }}</p>
        <p>Edad: {{ cliente.edad }}</p>
        <p>ID_Estanco: {{ cliente.estanco_id }}</p>
        {% if cliente.estanco %}
            <p> - Nombre del Estanco: {{ cliente.estanco.nombre }}</p>
            <p> - Localización: {{ cliente.estanco.localizacion }}</p>

            <a href="{% url 'detalleEstancos' cliente.estanco.id %}">
                Ver detalles del estanco
            </a>
        {% else %}
            <p>Este cliente no tiene un estanco asociado.</p>
        {% endif %}
            <br> <br>
        <img src=" {{cliente.imagenCliente}}" alt="Foto del cliente">
        {% endblock%}
    </body>
</html>
