<html>
    <head>
        <title>Detalle de las Marcas</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block contenido%}
        

        <div id="contenedorInfo">
            
        <h1>{{marca.nombre}}</h1>

            <div id="imagen">
                <img src=" {{marca.imagenMarca}}" alt="Imagen del logo de la marca">
            </div>
    
            <div id="info">
                <p><span class="resalte">Tipo de Tabaco: </span>{{ marca.tipo }}</p>
    
                {% if marca.distribuidor %}
                    <p><span class="resalte">Distribuidor: </span><a href="{% url 'detalleDistribuidores' marca.distribuidor.id %}">{{ marca.distribuidor.nombre }}</a></p>
                    
                {% else %}
                    <p>Esta marca no tiene un distribuidor asociado.</p>
                {% endif %}
            </div>
        </div>

        

            <br> <br>
        
        <div class="estanco">
            
            <h2>Disponible en:</h2>

            <ul>
                {% for estanco in estancos %}
                    <a href="{% url 'detalleEstancos' estanco.id %}"><li>{{ estanco.nombre }}</li></a>
                {% endfor %}
            </ul>
        </div>


        {% endblock %}
    
    </body>
</html>