<html>
    <head>
        <title>Lista de Clientes</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block contenido%}
        <h1>Lista de Clientes</h1>

        <div id="contenedorBuscador">
            <input type="text" class="buscador" placeholder="Buscar marca...">
        </div>

        {% for cliente in lista_clientes %} 
        
            <div id="cliente_miniInfo">
                <ul>
                    <a href="{% url 'detalleClientes' cliente.id %}">
                        <li>
                       
                            <span id="spanImagen"><img src=" {{cliente.imagenCliente}}" alt="Foto del cliente" ></span>
                            <span id="spanNombre"><h2>{{ cliente.nombre }} {{ cliente.apellido }}</h2></span>
                            
                        </li>
                    </a>
                </ul>
                
            </div>
        {% endfor %}
        {% endblock %}
    </body>
</html>