<html>
    <head>
        <title>Lista Estancos</title>
    </head>

    <body>
        {% extends 'base.html' %}
        {% block contenido%}
        <h2>Lista de estancos</h2>
        <div class = "estanco">
            <ul>
                {% for estanco in lista_estancos %}
                    <li>
                        <a href="{% url 'detalleEstancos' estanco.id %}">{{ estanco.nombre }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endblock %}
    </body>
</html>