<html>
    <head>
        <title>Lista de Clientes</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block contenido%}
        <h1>Lista de Clientes</h1>
        {% for cliente in lista_clientes %} 
        
            <div id="cliente_miniInfo">
                <ul>
                    <li>
                        <a href="{% url 'detalleClientes' cliente.id %}">
                            <span id="spanImagen"><img src=" {{cliente.imagenCliente}}" alt="Foto del cliente" ></span>
                            <span id="spanNombre"><h2>{{ cliente.nombre }} {{ cliente.apellido }}</h2></span>
                            </a>
                    </li>
                </ul>
                
            </div>
        {% endfor %}
        {% endblock %}
    </body>
</html>