<html>
    <head>
        <title>Lista Puros</title>
    </head>

    <body>  
        {% extends 'base.html' %}
        {% block contenido%}
        <h1>Lista de puros</h1>
        <div class="paquetes">
            {% for puro in lista_puros %}
                <div class="paquete">

                    <div class="contenedor-paquete">
                        <a href="{% url 'detallePuro' puro.id %}">
                            <img src="{{puro.imagenPuro}}" alt="{{puro.nombre}}">
                            <div class="detallePack">
                                <h2>{{puro.nombre}}</h2>
                            </div>
                        </a>
                    </div>
    
                </div>
            
            {% endfor %}
        </div>
        {% endblock %}

    </body>
</html>