<html>
    <head>
        <title>Lista Distribuidores</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block contenido%}
        <h1>Lista de Distribuidores</h1>

        <div id="contenedorBuscador">
            <input type="text" class="buscador" placeholder="Buscar marca...">
        </div>

        <div id= "distribuidores">
            {% for distribuidor in distribuidor_list %}
                <ul>
                    <a href="{% url 'detalleDistribuidores' distribuidor.id %}">
                        <li id="distribuidor">
                            <img src="{{distribuidor.imagenDistr}}" alt="{{distribuidor.nombre}}" >
                            
                            <div id="texto">
                                <h2 id="nombreDistribuidor">{{distribuidor.nombre}}</h2>
                            </div>
                    </li>
                    </a>
                </ul>
                
                   
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>