<html>
    <head>
        <title>Lista Marcas</title>
    </head>

    <body>  
        {% extends 'base.html' %}
        {% block contenido%}
        <h1>Lista de marcas</h1>
        <div id="marcas">
            {% for marca in lista_marcas %}
                <div id="marca">

                    <div id="contenedor-marca">
                        <a href="{% url 'detalleMarcas' marca.id %}">
                            <img src="{{marca.imagenMarca}}" alt="{{marca.nombre}}">
                            <div id="detalle">
                                <h2>{{marca.nombre}}</h2>
                            </div>
                        </a>
                    </div>
    
                </div>
            
            {% endfor %}
        </div>
        {% endblock %}

    </body>
</html>