<html>
    <head>
        <title>Lista Distribuidores</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block contenido%}
        <h1>Lista de Distribuidores</h1>

        <div id= "distribuidores">
            {% for distribuidor in lista_distribuidores %}
                <ul id="listaDistribuidores">
                    <li id="distribuidor">
                        <a href="{% url 'detalleDistribuidores' distribuidor.id %}">
                
                            <img src="{{distribuidor.imagenDistr}}" alt="{{distribuidor.nombre}}" >
                            
                            <div id="texto">
                                <h2 id="nombreDistribuidor">{{distribuidor.nombre}}</h2>
                            </div>
                            
                            
                        </a>
                    </li>
                </ul>
                
                   
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>