<html>
    <head>
        <title>Lista Paquetes</title>
    </head>

    <body>  
        {% extends 'base.html' %}
        {% block contenido%}
        <h1>Lista de paquetes</h1>
        <div class="paquetes">
            {% for cigar in lista_cigars %}
                <div class="paquete">

                    <div class="contenedor-paquete">
                        <a href="{% url 'detalleCigarro' cigar.id %}">
                            <img src="{{cigar.imagenCig}}" alt="{{cigar.nombre}}">
                            <div class="detallePack">
                                <h2>{{cigar.nombre}}</h2>
                            </div>
                        </a>
                    </div>
    
                </div>
            
            {% endfor %}
        </div>
        {% endblock %}

    </body>
</html>