#clienteInfo, #estancoInfo {
    margin: 10px; 
}

#site_content {
    display: inline-block;
}

#clienteInfo img{
    border-radius: 5px;
}

#cliente_miniInfo img{
    width: 10%;
    height: 10%;
    border-radius: 100%;

}

#cliente_miniInfo ul{
    list-style-type: none;
    padding: 0;
}