#clienteInfo, #estancoInfo {
    margin: 10px; 
}

#contenidoCliente{
    display: inline-block;
}

#clienteInfo img{
    border-radius: 50%;
}

#cliente_miniInfo img{
    width: 10%;
    height: 12%;
    border-radius: 100%;

}

#cliente_miniInfo ul{
    list-style-type: none;
    padding: 0;
}

#cliente_miniInfo ul li{
    transition: 0.7s;
}

#cliente_miniInfo ul li:hover{
    transform: scale(1.1);

}