#titulo{
    font-size: 28px;
}

#contenedorPrincipal{
    margin-top: 10%;
}

#contenedorPrincipal h2{
    font-size: 35px;
    font-family: "Merriweather", serif; 
}

#contenedorPrincipal p{
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  font-size: 20px;
}

#seccionEstancos{
    width: 100%;
    height: 40%;
    text-align: center;
    display: inline-block;
}

.parteContenido{
    width: 50%;
    float: left;
}

.parteBoton{
    width: 50%;
    float: right;
    height: 50%;
}

.boton{
    margin-top: 15%;
    padding: 30px;
    width: 65%;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.boton a{
    text-decoration: none;
}