#contenedorProncipal {
    text-align: center;
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
}

/* Títulos */
#contenedorProncipal h1 {
    font-size: 2rem;
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Párrafos */
#contenedorProncipal p {
    margin: 10px 0;
    font-size: 1rem;
}

/* Enlaces */
#contenedorProncipal a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
}

#contenedorProncipal a:hover {
    color: #ffffff;
    background-color: #4CAF50;
    padding: 2px 4px;
    border-radius: 4px;
}