#marcas{
    display: flex;
    flex-wrap: wrap;
}

#marcas #marca{
    width: 25%;
    margin-top: 15px;
}

#marcas #marca img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

#marcas #marca #contenedor-marca{
    width: 80%;
    padding: 10px;
    margin: auto;
}

#contenedor-marca{
    border-radius: 10px;
    text-align: center;
    background-color: rgba(221, 161, 118, 0.87);
}

#contenedor-marca:hover{
    box-shadow: 5px 5px 6px 0px rgb(0, 0, 0);
}

#contenedor-marca h2{
    color: rgb(23, 18, 22);
}

#marcas #marca #detalles{
    padding: 5px;
}

#contenedor-marca a{ 
    text-decoration: none;
}

#imagen img{
    width: 100%;
    border-radius: 50px;
    margin: 5%;
}

#imagen{
    width: 30%;
    float: left;
    background-color: rgb(250, 239, 192);
}

#info{
    float: right;
    height: 40%;
    font-size: 17px;
    margin-top: 10px;
}

#estanco{
    display: inline-block;
    width: 50%;
    height: 40%;
    font-size: 17px;
    margin-top: 50px;
}