html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{
  background: rgb(250, 239, 192);
}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

h1{
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

a
{ outline: none;
  text-decoration: underline;
  color: rgb(212, 48, 59);
}

a:hover
{ text-decoration: none;
  color: rgb(133, 39, 39);
}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}


#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;
}

#header
{ background: transparent url(madera2.jpg) no-repeat;
  height: 177px;
  width: 100%;}
  
#banner
{  background: transparent url(banner.png) no-repeat;
  width: 860px;
  height: 200px;
  margin-bottom: 20px;
  border: 10px solid rgba(126, 23, 29, 0.61)}

#logo
{ width: 880px;
  position: relative;
  height: 140px;
  background: transparent;}

#logo #logo_text 
{ position: absolute; 
  top: 10px;
  left: 0;}

#logo h1, #logo h2
{ font-family: "Merriweather", serif; 
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color:rgb(191, 42, 52);}

#logo_text a:hover .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #999;}

#menubar
{ width: 880px;
  height: 46px;
  font-family: "Merriweather", serif;} 

ul#menu
{ float: right;
  margin: 0;}

ul#menu li
{ float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 1px 2px 0 0;
  background-color: rgba(221, 161, 118, 0.87);
  /*background: #5A5A5A url(tab.png) no-repeat 0 0;}*/
  border-radius: 10%;
}
ul#menu li a
{ display: block; 
  float: left; 
  height: 20px;
  padding: 6px 35px 5px 28px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
 /* background: #5A5A5A url(tab.png) no-repeat 100% 0;*/
  border-radius: 10%;
} 

ul#menu li.selected a
{ height: 20px;
  padding: 6px 35px 5px 28px;}

ul#menu li.selected
{ margin: 1px 2px 0 0;
 /* background: #00C6F0 url(tab_selected.png) no-repeat 0 0;*/
  background-color: rgb(191, 42, 52);
}

ul#menu li.selected a, ul#menu li.selected a:hover
{ /*background: #00C6F0 url(tab_selected.png) no-repeat 100% 0;*/
  color: #FFF;}

ul#menu li a:hover
{ color: rgb(191, 42, 52);}

#site_content
{ width: 880px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0;
} 

#footer
{ width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  height: 80px;
  margin-top: 55%;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: #3B3939 url(footer.png) repeat-x;
  color: #A8AA94;}

#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color: #A8AA94;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}



